@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.header {
    background-color: #1f2937;
    color: #f9faf9;
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

.heading {
    display: flex;
    align-self: center;
    min-width: 940px;
    justify-content: space-between;
    flex: auto;
}

#logo {
    border: none;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

.headorg {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px auto;
    align-items: center;
}

#bioshock {
    height: auto;
    width: 450px;
    border: none;
}

.desc {
    width: 450px;
}

.h1 {
    font-size: 48px;
    font-weight: 900;
    margin: auto;
}

#button1 {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

#link-list {
    display: inline-flex;
    list-style-type: none;
    flex: auto;
}

li {
    padding: 0px 15px;
    font-size: 18px;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
}

.h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 60px;
}

img {
    height: auto;
    width: 200px;
    border-radius: 10px;
    border: 4px #3882f6 solid;
    margin-bottom: 10px;
}

.enemies {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#quote {
    align-self: center;
    text-align: justify;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    width: 940px;
}

.author {
    display: flex;
    align-self: center;
    width: 830px;
    justify-content: flex-end;
}

.blue {
    padding: 100px 200px;
}

.call {
    background-color: #3882f6;
    border-radius: 10px;
    padding: 30px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#text1 {
    font-weight: bold;
    font-size: larger;
}

#button2 {
    background-color: #3882f6;
    border: 2px white solid;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    height: 50px;
    width: 80px;
}

.footer {
    background-color: #1f2937;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}