body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.heading {
    display: flex;
}


ul {
    display: inline-flex;
    list-style-type: none;
}

li {
    padding: 0px 15px;
}

.content {
    display: flex;
    flex-direction: column;
}

.quote {
    background-color: #e5e7eb;
}

.call {
    background-color: #3882f6;
}

.footer {
    background-color: #1f2937;
    color: white;
}